#wrapper, html, body{
    background: black;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.yes, .no{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 10em;
    font-family: consolas;
    user-select: none;
    transition: opacity 0.2s linear;
    text-align: center;
}

.yes p, .no p{
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    transform: translatey(-50%);
}

.animate{
    animation: slide_down 1s normal;
}

@keyframes slide_down{
    from {
        top: -20%;
    }
    to {
        top: 50%;
    }
}

.yes{
    background: green;
}

.no{
    background: red;
}

.help{
    --BG: #555;
    position: absolute;
    left: 10px;
    top: 10px;
    background: var(--BG);
    border-radius: 12px;
}

.help-icon{
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 12px;
}

.help-menu{
    display: none;
    font-size: 0.8rem;
    padding: 8px;
}

.help-menu h2{
    margin-top: 0.1rem;
    margin-bottom: 0;
}

.help-menu h3{
    margin-top: 0.4rem;
    margin-bottom: 0.1rem;
}

.help-menu p{
    margin: 0.1rem;
}

.help-menu code{
    color: #99f;
}

.help-menu input,
.help-menu h3,
.help-menu p {
	margin: 0;
}

.help:hover .help-icon{
    display: none;
}

.help:hover .help-menu{
    display: block;
}

@media only screen and (max-width: 667px){
    .yes p, .no p{
        font-size: 8rem;
    }
}
